:root {
  --colorDark: black;
  --colorLight: white;
  --color1: rgb(247, 72, 79);
  --color2: rgb(248, 186, 139);
  --color3: rgb(65, 90, 218);
}

/* @font-face {
  font-family: myFont;
  src: url(font/Bentham-Regular.ttf);
} */
* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  margin: 0;
  height: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* @keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
} */
body {
  font-family: futura, myFont, didot, sans-serif;
  color: var(--colorDark);
  /* animation: fadeIn .5s ease-in .5s 1 forwards; */
  background-color: var(--colorLight);
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

p {
  font-size: 1em;
}

header {
  right: 0;
  top: 0;
  width: 22%;
  position: fixed;
  height: 100vh;
}

.dropbtn {
  display: none;
  margin-left: 10%;
}

header img {
  display: block;
  margin: auto;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.fill-height-or-more {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.fill-height-or-more > div, .fill-height-or-more > a {
  flex: 1;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.inside p {
  text-align: right;
  font-weight: normal;
}

nav a, nav p {
  font-size: 3vw;
  display: block;
  color: var(--colorDark);
  padding: 0px 20px;
  text-decoration: none;
  text-align: left;
  animation: fadeInUp .5s ease-in-out .5s 1;
}

nav .outside:hover, nav .outside:hover, nav .outside:hover p, nav .outside:hover a {
  cursor: pointer;
  color: var(--colorLight);
  background: var(--color2);
  font-style: italic;
}

nav .inside:hover, nav .inside:hover, nav .inside:hover p, nav .inside:hover a {
  cursor: pointer;
  color: var(--colorLight);
  background: var(--color3);
  font-style: italic;
}

/* ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

li li p {
  text-align: right;
  font-weight: normal;
}

nav a, nav p {
  cursor: pointer;
  font-size: 3vw;
  display: block;
  padding: 0px 20px;
  color: var(--colorDark);
  text-decoration: none;
  text-align: left;
  animation: fadeInUp .5s ease-in-out .5s 1;
}

nav li a:hover, nav li p:hover {
  color: var(--colorLight);
  background: var(--color2);
  font-style: italic;
}

nav li li a:hover, nav li li p:hover {
  color: var(--colorLight);
  background: var(--color3);
} */

main {
  /* padding-left: 20%;
  display: flex;
  flex-wrap: wrap;
  width: 100%; */
  margin-right: 22%;
}

#shuffle {
  display: flex;
  margin-top: 100px;
  margin-bottom: 30px;
  margin-left: 30px;
}

.row {
  width: 50%;
}

.projectelement img {
  width: 60%;
  align-self: center;
  display: block;
  /* margin: auto; */
  /* padding-top: 20px;
  padding-bottom: 20px; */
}

.wholewidth {
  width: 100%;
}

.projectelement iframe {
  width: 60%;
  height: 400px;
  align-self: center;
  display: block;
  /* margin: auto; */
  /* padding-top: 20px;
  padding-bottom: 20px; */
}

.projectelement a {
  width: 100%;
}

.projectelement a img {
  width: 100%;
}

/* .youtubeContainer {
  width: 100%;
  height: 300px;
} */
.projectelement .youtubeContainer iframe {
  width: 100%;
  height: 100%;
}

.projectelement {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 30px;
  margin-bottom: 30px;
  /* padding-left: 20%; */
}

/* img.left {
  position: relative;
  right: 20%;
}

img.right {
  position: relative;
  left: 20%;
} */

.left {
  position: relative;
  right: 20%;
}

.right {
  position: relative;
  left: 20%;
}


@media screen and (max-width: 700px) {
  header {
    right: 0;
    top: 0;
    width: 100%;
    position: fixed;
    height: 10%;
    z-index: 3;
    background-color: var(--colorLight);
  }

  header img {
    display: block;
    margin: auto;
    width: auto;
    height: 90%;
  }

  /* nav li a, nav li p {
    color: var(--colorLight);
    background: var(--color2);
    font-style: italic;
  }

  nav li li a, nav li li p {
    color: var(--colorLight);
    background: var(--color3);
  } */

  .hidden {
    display: none;
  }

  .flexbox {
    display: flex;
  }

  nav a, nav p {
    font-size: 5vw;
  }

  main {
    margin-right: 0%;
    z-index: 0;
  }

  .dropbtn {
    display: inline-block;
    position: relative;
    z-index: 2;
  }

  .dropdown-content {
    z-index: 1;
    width: 100%;
    position: fixed;
    top: 0;
    height: 100vh;
    background-color: var(--colorLight);
  }

  h1 {
    font-size: 5vh;
  }

  h2 {
    font-size: 3.5vh;
  }

  h3 {
    font-size: 3vh;
  }

  p {
    font-size: 2vh;
  }
}
